<div class="container-fluid shadow-lg mt-3 p-4 w-50 rounded-4">
  @for (todo of todos; track $index) {
    <div
      class="row d-flex align-items-center mt-1"
      [ngClass]="getClass(todo)"
    >
      <div class="col-2 text-center">
        <mat-checkbox
          [checked]="todo.completed"
          class="mt-2 p-2"
          (change)="toggleCompleted(todo)"
        ></mat-checkbox>
      </div>
      <div class="col-6">
        @if (!todo.edited) {
          <span class="fs-4">
            #{{ todo.id }} - {{ todo.title }}
          </span>
        }
        @if (todo.edited) {
          <input
            type="text"
            class="form-control"
            [(ngModel)]="todo.title"
          />
        }
      </div>
      <div class="col-2 text-center">
        <button
          class="fa-solid fa-trash delete"
          (click)="deleteItem(todo)"
        ></button>
      </div>
      <div class="col-2 text-center">
        @if (!todo.edited) {
          <button
            class="fa-solid fa-pen-to-square modified"
            (click)="enableEdit(todo)"
          ></button>
        }
        @if (todo.edited) {
          <button
            class="fa-solid fa-check text-success completed1"
            (click)="saveEdit(todo)"
          ></button>
        }

      </div>
    </div>
  } @empty {
    <p class="text-center fs-4">
      Perfetto! Hai completato tutte le cose da fare!
    </p>
  }
</div>
